<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closePopup()">
          <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
              <div *ngIf="user != undefined">
                <div padding>
                    <ion-img src="/assets/profile.png" style="width:70%;padding-left:55px;"></ion-img>
                    <p style="width:100%;text-align:center;">Username:{{user.username}}</p><br>
                </div>
              
               Firstname:{{ user.firstName }}<br>
               Lastname:{{ user.lastName }}
            </div>
    
</ion-content>
