<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button>
         ADDPOST <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </ion-button>
      <ion-button (click)="openPopup()">
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </ion-button>
        <ion-button color="primary" expand="full" color="primary" (click)="logout()">
            <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="user != undefined">
    Welcome {{ user.firstName }} {{ user.lastName }}
    </div>
    
</ion-content>
